body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #e0f7fa;
    color: #333;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #00796b;
}

#wordContainer {
    font-size: 28px;
    letter-spacing: 8px;
    margin-bottom: 20px;
    color: #00796b;
}

#keyboardContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    justify-items: center;
}

#keyboardContainer button {
    padding: 15px;
    font-size: 18px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#keyboardContainer button:hover {
    background-color: #004d40;
}

#message {
    font-size: 18px;
    color: #e53935;
}

#resetButton {
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #00796b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#resetButton:hover {
    background-color: #004d40;
}
#guessWordContainer {
    margin-top: 20px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#guessWordContainer input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

